__pycache__/
*.log
*.pyc
build/
install/
log/
devel/
logs/
.vscode/
.venv/

.git
**/.git
**/__pycache__/
**/.venv/
.ipynb_checkpoints

src/SAM3_ROS_NODE/.venv
src/SAM3_ROS_NODE/.venv/**
src/Custom_YOLO_ROS/.git
src/Custom_YOLO_ROS/.git/**
src/sphereformer_ros/src/SphereFormer/model_semantic_kitti.pth