[submodule "src/sam2_ros/src/segment-anything-2"]
	path = src/sam2_ros/src/segment-anything-2
	url = https://github.com/facebookresearch/sam2

[submodule "src/sphereformer_ros/src/SphereFormer"]
	path = src/sphereformer_ros/src/SphereFormer
	url = https://github.com/dvlab-research/SphereFormer
[submodule "src/clrernet_ros/src/clrernet"]
	path = src/clrernet_ros/src/clrernet
	url = https://github.com/hirotomusiker/CLRerNet.git
[submodule "src/Custom_YOLO_ROS"]
	path = src/Custom_YOLO_ROS
	url = https://github.com/PaavanBagla/Custom_YOLO_ROS.git
