[submodule "src/sam2_ros/src/segment-anything-2"]
	path = src/sam2_ros/src/segment-anything-2
	url = https://github.com/facebookresearch/sam2

[submodule "src/Custom_YOLO_ROS"]
	path = src/Custom_YOLO_ROS
	url = https://github.com/PaavanBagla/Custom_YOLO_ROS
[submodule "src/SAM3_ROS_NODE"]
	path = src/SAM3_ROS_NODE
	url = https://github.com/PaavanBagla/SAM3_ROS_NODE
